.slick-arrow {
  position: relative;
}
.slick-prev:before,
.slick-next:before {
  color: black;
}
.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  position: absolute;
  top: 50%;
  /*z-index:1;*/
}
.slick-slider {
    box-shadow: none;
    border-color:none;
    color: none;
    background: none;
    outline:none;
}
.slide-container {
	width: 500px;
	margin-top: 20px;
	margin-right: 50px;
	margin-bottom: 20px;
	margin-left: 50px;
}
.model {
	width: 100%;
}
